.header {
    background-color: #A1B7C8;
    min-height: 60px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__contacts {
    display: none;
    position: absolute;
    background-color: #A1B7C8;
    top: 74px;
    left: 0;
    right: 0;
    padding: 30px 15px;
    color: #fff;
}

.header__contacts_active {
    display: block;
}

.header__logo {
    width: 76px;
    height: 43px;
}

.header__contacts-burger {
    display: block;
    width: 27px;
    height: 14px;
    background: url("../img/menu.svg")   no-repeat ;
}


.contacts__head {
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    margin-bottom: 7px;
}

.contacts__head_social{
    margin-bottom: 12px;
}

.contact__link {
    font-size: 16px;
    line-height: 22px;
}
.contacts__item {
    margin-bottom: 50px;
}
.contacts__item:last-child{
    margin-bottom: 0;
}
.contact__social-list {
    display: flex;
    gap: 20px;

}
.contact__social-link{
    display: block;
    width: 26px;
    height: 26px;
    background-position: center;
    background-repeat: no-repeat;
}

.contact__social-link-whatsup {
    background-image: url("../img/whats.svg")
}
.contact__social-link-git {
    background-image: url("../img/GitHubLogo.svg");
}

.contact__social-link-teleg {
    background-image: url("../img/teleg.svg")
}

.contact__social-link-vk {
    background-image: url("../img/VK_logo.svg");
}

@media (min-width: 768px) {
    .header {
        min-height: 100px;
        padding: 28px 0;
    }

    .header__logo{
        Width: 180px;
        height: 65px;
    }

    .header__contacts-burger {
        width: 27px;
        height: 14px;
    }
    .header__contacts {
        top: 122px;
        padding: 40px;
    }
    .contacts__list {
        display: flex;
        justify-content: space-between;
    }
    .contacts__item {
        margin-bottom: 0;
    }
}


@media (min-width: 992px) {
    .header {
        height: 100%;
        padding: 50px 0;
        width: 23%;
    }

    .header__container{
        flex-direction: column;
        height: 100%;
        align-items: flex-end;
        padding: 20px 0;
    }
    .header__contacts-burger{
        display: none;
    }
    .header__contacts{
        display: block;
        position: static;
        padding: 0;
        min-width: 200px;
    }
    .contacts__list {
        flex-direction: column;
    }
    .contacts__item {
        margin-bottom: 50px;
    }
    .contacts__item:last-child{
        margin-bottom: 0;
    }
}

@media (min-width: 1440px) {
    .page{
        background-image: linear-gradient(to right, #A1B7C8 24.5%, transparent 24.5%) ;
    }

    .header {
        padding: 60px 0px;
        width: 355px;
        left:  calc(50% - 720px);
    }

}

@media (min-width: 2700px) {
    .page{
        background-image: linear-gradient(to right, #A1B7C8 30%, transparent 30%) ;
    }
}